<html ng-app="blocChat">
    <head>

        <link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <link href="https://fontastic.s3.amazonaws.com/tQqbBzMeZS8BTbVAY7VkTJ/icons.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Arvo' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fontastic.s3.amazonaws.com/tQqbBzMeZS8BTbVAY7VkTJ/icons.css" rel="stylesheet">
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="chatController">
            
        <div id="leftside-bar"> 
            <div class="top">
                <h1>Rooms</h1>
                <ul class="chatroom-groups">
                    <li class="room-label" ng-repeat="room in chatRooms">{{ room }}</li> <!-- ADDED ng repeat -->
                </ul>
                <a class="btn" href="#" ng-click="showCreate = !showCreate"> <!-- ADDED open the form to create new room -->
                    <i class="icon-plus"></i>
                New Room</a>
            </div>  
            
            <div class="bottom">
                <h1>Chatters</h1>
                <ul class="chatroom-groups">
                    <li ng-repeat="user in chatters" ng-class="{'online-status': user.onlineStatus, 'offline-status': !user.onlineStatus }">{{ user.name }}</li> <!-- ADDED -->

                </ul>
                <a href="/">
                   <img src="http://res.cloudinary.com/vanessalvarez8a/image/upload/c_scale,h_150,w_150/v1438826590/chatter_logo_muifv1.png"/>
                </a>
            </div> 
        </div>
        
        <div class="content">
            <div class="rightside-box">
                <div class="room-title clearfix">
                    <h2 class='chat-title'>Developers</h2>
                    <p class="chatters-count">5 chatters</p>
                </div>
                <hr class="break"></hr>
                
                
            <div class="user-container clearfix" ng-repeat="message in messages">
                <div class="user-container-left">
                    <div class="circle"></div>
                </div>
                <div class="user-container-right">
                    <div>
                        <h3> {{ message.name }}</h3>
                        <p> {{ message.text }}</p>
                    </div>
                </div>
            </div>
        </div>
            
        <div ng-show="showCreate">  <!-- ADDED -->
            <div class="chatroom-modal" ng-submit="createChannel()"> <!-- ADDED -->
                    <img class="modal-logo" src="http://res.cloudinary.com/vanessalvarez8a/image/upload/c_scale,h_170,w_170/v1439522062/chatterlogocopy_jcjela.png"/>
                    <h2 class="new-room-h2">Create a New Room</h2>
                    <input type="text" name="Enter a room name" ng-model="newChannel"/> <!-- ADDED -->
                 <div class = 'btn-wrapper'>
                    <button class="newRoom-btn cancel" ng-click="showCreate = !showCreate">Cancel</button><button class="newRoom-btn create" ng-click="createRoom()">Create Room</button>
                 </div>
            </div>
        </div>      
            
            <div class="username-modal">
                    <img class="modal-logo" src="http://res.cloudinary.com/vanessalvarez8a/image/upload/c_scale,h_170,w_170/v1439522062/chatterlogocopy_jcjela.png"/>
                    <input type="text" name="Enter username" placeholder="Enter Username"/>
                    <button class="btn-continue">Continue</button>
            </div>
            
            <hr class="break"></hr>
        <div>  <!-- ADDED -->
            <textarea id="message-input" ng-model="currentMessage" maxlength="newMessage" autocorrect="off" autocomplete="off" spellcheck="true"></textarea> <!-- ADDED -->
            <a href="#" class="send-btn" ng-click="addMessage()">
                <i class="icon-paperplane"></i>
                Send
            </a>
        </div>    
        </div>
    </body>
</html>


